
.row-header {
	margin: 0px auto;
	padding: 0px;
}



.google-map {
	padding: 10px 0px;
	border-radius: 100%;
	overflow: hidden;		
}

.test{
	
padding-left: 0.001rem!important;
padding-right: 4rem!important;
}
.test1{
	
	padding-left: 0.001rem!important;
	padding-right: 2.7rem!important;
	}
	.test2{
	
		padding-left: 0.001rem!important;
		padding-right: 5rem!important;
		}
		.test3{
	
			padding-left: 0.001rem!important;
			padding-right: 6.4rem!important;
			}
.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #9575CD;
	color: floralwhite;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

address {
	font-size: 90%;
	margin: 0px;
	color: #0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

.footer {
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
}

